// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entry {
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 100px;
  font-family: sans-serif;

  img {
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
  }

  h3{
    font-size: 15px;
    font-weight: 400%;
    margin-left: 100px;
    margin-bottom: 5px;
    color: #227;
  }

  p, div.price_line {
    margin-left: 100px;
    margin-bottom: 8px;
    margin-top: 5px;

    form, div {
      display: inline;
    }
  }
  .price {
    color: #44a;
    font-weight: bold;
    margin-right: 10px;
  }
}

